<div id={{email.id}}>
      {{#link-to "email" email.id}}
      From {{email.from}}
      {{/link-to}}

<StarButton @starred={{email.starred}} @onClick={{action "star" email}} />

<p>{{truncate-text email.message}}</p>
</div>
