<nav class="margin20">
  {{#link-to "index"}}
    Back
  {{/link-to}}
</nav>
<br>

<div id="create">
  <form onsubmit={{action "createEmail"}}>
    <div class="margin20">
      <label for="subject">Subject: </label>
      {{input type="text" id="subject" value=subject}}
    </div>

    <div class="margin20">
      <label for="from">From: </label>
      {{input type="text" id="from" value=from}}
    </div>

    <div class="margin20">
      <label for="to">To: </label>
      {{input type="text" id="to" value=to}}
    </div>

    <div class="margin20">
      <label for="message">Message</label>
      {{textarea id="msg" rows="8" cols="80" value=message}}
    </div>

    <button data-test="submit" class="margin20" type="submit">Confirm</button>

  </form>
</div>
