<nav class="margin20">
  {{#link-to "index"}}
    Back
  {{/link-to}}
</nav>
<br>

<button
  data-test="delete-email"
  type="button"
  class="deletebutton"
  onclick={{action "deleteEmail" model}}
> <img id="trashicon" alt=""src="/images/trash.png">
</button>

<div class="emailframe">

  <h1 data-test="subject">Subject: {{model.subject}}</h1>
  <p>id: {{model.id}}</p>
  <p data-test="from">From: {{model.from}}</p>
  <p data-test="to">To: {{model.to}}</p>
  <p data-test="msg">Message: {{model.message}}</p>

</div>
